.about {
  display: flex;
  justify-content: center;
  margin-top: 330px;
}

.about-card {
  padding: 50px;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 1000px;
  height: 700px;
  border-radius: 10px;
  border: 5px solid wheat;
  margin-top: 150px;
}

.text {
  margin-top: 50px;
  font-size: 15px;
  line-height: 30px;
}

.head-text {
  font-size: 30px;
  font-weight: 900;
  text-decoration: underline;
}
