/* footer {
  margin-top: 200px;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
}

.heading {
  margin-bottom: 60px;
}

.btns {
  margin: 100px 30px;
} */

.icons {
  margin-right: 10px;
}
