.icon-css {
  width: 90px;
  height: 80px;
  margin: 50px;
}

.to-skills {
  margin-top: 300px;
  padding: 100px;
}

.skills-card {
  display: flex;
  justify-content: center;
  text-align: center;
  /* border: 1px solid white; */
}

.skills-head {
  font-weight: bolder;
  font-size: 19px;
  color: aqua;
  font-size: 40px;
}
.skills-text {
  font-size: 20px;
}

.skills-grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.skills-icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.skills-icons p {
  font-size: 30px;
}

@media screen and (max-width: 600px) {
  * {
    margin: 0%;
  }

  .skills-icons p {
    font-size: 15px;
  }

  .skills-grid {
    display: flex;
    flex-direction: column;
  }

  .icon-css {
    width: auto;
    height: 70px;
  }
}
